@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

main {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  transition: all 0.8s ease-in-out;
  z-index: 10;
}

.header--scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__menu {
  display: flex;
  gap: 1.5rem;
}

.header__menu__item {
  font-size: 0.9rem;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.header__menu__item:hover {
  opacity: 0.7;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}

.hero__body {
  text-align: center;
  padding-bottom: 0.5rem;
}

.hero__body__title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin: 0;
}

.hero__body__subtitle {
  font-size: 1.15rem;
  margin-top: 0.25rem;
  font-weight: 400;
  color: #666;
  text-align: center;
  margin: 0;
}

/* SERVICES */

.services {
  padding-top: 4rem;
}

.services__title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.services__slider {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.services__slider__display {
  flex: 1;
  background: #cecece;
  min-height: 75vh;
}

.services__slider__list {
  flex: 1;
}

.services__slider__list__service {
  padding: 2rem;
  transition: all 0.4s ease-in-out;
}

.services__slider__list__service--active {
  background: #ececec;
}

.services__slider__list__service:hover {
  background: #ececec;
  opacity: 0.8;
  cursor: pointer;
}

.services__slider__list__service__title {
  margin: 0;
}

.services__slider__list__service__description {
  margin: 0;
}

/* TEAM */

.team {
  padding-top: 4rem;
}

.team__title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.team__subtitle {
  font-weight: 400;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.team__member {
  display: flex;
  flex-direction: row;
}

.team__member--reverse {
  flex-direction: row-reverse;
}

.team__member__display {
  flex: 1;
  background: #cecece;
  height: 50vh;
  padding: 1rem;
}

.team__member__display--blue {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.team__member__display--pink {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.team__member__display--orange {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.team__member__body {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__member__body__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  width: 420px;
  max-width: 100%;
}

.team__member__body__title {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  margin: 0;
  width: 420px;
  max-width: 100%;
}

.team__member__body__description {
  width: 420px;
  max-width: 100%;
  margin-top: 0.25rem;
  font-style: italic;
  font-size: 1.25rem;
}

/* PORTFOLIO */

.portfolio {
  padding-top: 4rem;
}

.portfolio__title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio__subtitle {
  font-weight: 400;
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.portfolio__display {
  height: 66vh;
  background: #cecece;
}

/* CONTACT */

.contact {
  padding: 4rem;
}
.contact__title {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 100%;
  width: 420px;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 1rem;
}

.contact__form__input,
.contact__form__textarea {
  padding: 1rem;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  width: 100%;
}

.contact__form__button {
  padding: 1rem;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #666;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

@media screen and (max-width: 789px) {
  .header {
    padding: 1rem;
  }
  .header__menu {
    gap: 1rem;
  }
  .header__menu__item {
    font-size: 0.8rem;
  }

  .hero {
    justify-content: end;
  }

  .hero__body__title {
    font-size: 2rem;
  }

  .hero__body__subtitle {
    font-size: 1rem;
  }

  .services__slider {
    flex-direction: column;
  }

  .services__slider__display {
    min-height: 33vh;
  }
  .services__slider__list__service {
    padding: 1rem;
  }

  .services__slider__list__service__description {
    height: 0;
    overflow: hidden;
  }

  .services__slider__list__service--active
    .services__slider__list__service__description {
    height: auto;
  }

  .team__member {
    flex-direction: column-reverse;
  }

  .team__member__display {
    min-height: 30vh;
  }
}
