@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Rubik+Doodle+Shadow&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

html {
  background-color: #a5b4fc;
}
