@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --primary-color: #4668ee;
  --text-color: #1a202c;
  --text-light-color: #555;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}

/* ... */
.interface {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sections {
  max-width: 1200px;
  width: 100%;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--top {
  align-items: flex-start;
}

.section--bottom {
  align-items: flex-end;
}

.section--right {
  justify-content: flex-end;
}

.section--left {
  justify-content: flex-start;
}

/* HOME SECTION */

.scroll-down {
  width: 28px;
  height: 42px;
  border: 2px solid var(--text-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.scroll-down__wheel {
  background: var(--text-color);
  width: 3px;
  height: 10px;
  border-radius: 2px;
  margin-top: 4px;
}

/* SKILLS SECTION */

.skills {
  padding: 1rem;
}

.skill {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 320px;
  max-width: 100%;
}

.skill__label {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.skill__label__image {
  height: 32px;
  width: 32px;
}

.skill__label__name {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}

.skill__level {
  background: #000;
  height: 8px;
  border-radius: 8px;
  width: 100%;
}

.skill__level__bar {
  background: var(--primary-color);
  height: 100%;
  border-radius: 8px;
  width: 0px;
}
